{% load static simpletags %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/elementui/theme-chalk/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/fontawesome-free-6.2.0-web/css/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/finance/simpleui_menu.css' %}?v={{ FINANCE_ASSET_VERSION }}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/finance/finance_changelist.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/admin_page_layout.css' %}?v=20260520-1">
